[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mysqlclient = "==2.1.0"
asgiref = "==3.5.0"
pytz = "==2022.1"
sqlparse = "==0.4.2"
Django = "==3.2.8"

[dev-packages]

[requires]
python_version = "3.9"
